.middle{
	height: 100vh;
    background: linear-gradient(to bottom right, #ffcc66 2%, #ff99cc 118%);
}
.inmiddle{
	font-family: monospace;
	font-size: 45px;
	text-align: center;
	padding-top: 15%;
	margin: auto;
	width: 70%;
}
